{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Louis Blog</h1>
                        <span class="subheading">A Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                {%  for value in articles %}
                    <div class="post-preview">
                        <a href="{{ absolute_url('/articles/'~value.getId()) }}">
                            <h2 class="post-title">
                                {{ value.getTitle() }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ value.getSubtitle() }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">{{ value.getAuthor() }}</a>
                            on {{ value.getCreatedAt()|date("d/m/y h:m") }}</p>
                        <p>
                            {{ value.getBody() }}
                        </p>
                        <img src="{{ value.getImage() }}" width="200px">
                    </div>
                    <hr>
                {% endfor %}
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>


    <hr>
{% endblock %}